// import the styles that are critical for
// rendering above the fold content
// these will be embeded into the website as opposed to attached as a library.
// See mmg9_two.theme
@import url(https://fonts.bunny.net/css?family=akshar:300,400,500,600,700);
:root {
  --akshar: "Akshar", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-family-base: var(--akshar);
  --font-color-base: #333;
  --line-height-base: 1.5;
  --font-size-base: 1.8rem;
  --white:         #fff;
  --white-rgb:     255, 255, 255;
  --black:         #000;
  --black-rgb:     0, 0, 0;
  --miles-black:     #333;
  --miles-black-rgb: 51, 51, 51;
  --miles-gray:      #777;
  --miles-gray-rgb:  119, 119, 119;
  --miles-light-gray:    #e8e8e8;
  --miles-light-gray-rgb: 232, 232, 232;
  --miles-navy:          #000043;
  --miles-navy-rgb:      0, 0, 67;
  --miles-blue:    #0073bb;
  --miles-blue-rgb:0, 115, 187;
  --miles-light-blue: #8ac0e2;
  --miles-teal:       #00a6ad;
  --miles-teal-rgb:   0, 166, 173;
  --miles-light-blue-rgb: 138, 192, 226;
  --miles-green:   #4ca900;
  --miles-green-rgb: 76, 169, 0;
  --miles-yellow:  #ffd40c;
  --miles-yellow-rgb: 255, 212, 12;
  --miles-orange:  #ff6418;
  --miles-orange-rgb: 255, 100, 24;
  --miles-red:     #ef1c00;
  --miles-red-rgb: 239, 28, 0;
  --link:          var(--miles-green);
  --link-hover:    var(--miles-red);
  --scrollthumbBG: var(--miles-blue);
  --scrollbarBG: transparent;
  --scrollbarWidth: 0.8rem;
}


@import 'reset';
@import 'config';
@import 'mixins';
@import 'critical/**/*';

