// Logo
//
// .shrunken  - Mobile & post-scroll size
//
// Markup: logo.twig
//
// Style guide: atf.logo

/* stylelint-disable no-duplicate-selectors  */
#header {
  #logo {
    border-bottom: 0;
    margin-block: 1rem;
    display: inline-block;

    svg {
      width: 16.6rem;
    }
  }
}
