@import '../../config';
@import '../../mixins';

.component--dfp-tags {
  position: relative;
  margin-block-start: 1.875rem;

  .field--name-field-dfp-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .field__item {
      background-color:  var(--miles-gray);
      max-width: 20.625rem;
      padding-inline: 1rem;
      padding-block: 0 1.875rem;
    }
  }
}

.field--name-field-right-rail-components {
  .field--name-field-dfp-blocks {
    .field__item {
      max-width: 18.75rem;
      padding-inline: 0;
      padding-block: 0 1.87rem;
    }
  }
}
