{#
/**
 * @file
 * mmg8 listing fields.
 *
 * Template file for listing fields.  Contains "listing" variable which contains all the
 * information received from the data engine / extranet.
 *
 * Available variables:
 *
 * Listing variables:
 * - listing: DE / extranet response stored as object.
#}

{% if documents is not empty %}
<div class="mmg8-listing-fields {{ theme_hook_original }}">
<h3>{{ "Related Documents" | t }}</h3>
<ul>
    {% for document in documents %}
        <li><span class="icon"></span>{{ link(document.name, document.url.uri) }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}


