.component--main-content,
.component--single-column-content {
  > .content {
    @include center-me(96rem);

    padding-inline: 2rem;
    padding-block: 3rem 2rem;
    position: relative;

    .field--name-field-main-content-subtitle {
      //@include lead-in;
      p {
        margin-block: 0;
        padding-block: 0;
      }
    }
  }
}
